body {
  background-size: 100%;
}

#box {
  width: 400px;
  height: 400px;
  margin: 120px auto;
  padding: 30px;
  border: solid 2px gray;
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
}

#title {
  font-size: 50px;
  text-align: center;
}

input{
  width: 336px;
  height: 40px;
  font-size: 25px;
  border-color: gray;
  border-width: 0px 0px 1px 0px;
  background-color: rgba(255,255,255,0.6);
}

.tip {
  height: 40px;
}

button {
  font-size: 18px;
  color: black;
  margin: 5px 70px;
  width: 200px;
  height: 40px;
  border-width: 0px;
  background-color: rgba(200,200,200,0.6);
}

button.blue {
  background-color: rgba(3, 155, 229, 1);
}

button:hover {
  background-color: rgba(0,100,200,0.5);
}